// ==================================== //
// Font Imports
// ==================================== //
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


// ==================================== //
// Variables
// ==================================== //
$hg-lightblue: #00CBFF;
$hg-darkblue: #3F73F1;


// ==================================== //
// Body Classes
// ==================================== //
body {
	background-image: url(assets/img/background@2x.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
	background-position: center center;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.login {
		background-image: url(assets/img/loginback@2x.jpg)
}
h1 {
	font-size: 30px;
	margin-bottom: 24px;
	text-transform: uppercase;
}
p {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

// ==================================== //
// Layout Adjustments
// ==================================== //
.fixed-left {
	width: calc(100vw - 340px);
	margin-left: 340px;
	max-width: 768px;
	padding: 44px;
	background: none !important;
}
@media (max-width: 767px){
	.fixed-left {
		width: 100vw;
		margin-left: 0;
		padding: 0 12px;
	}
}
.container#main-wrapper {
	background: #fff;
	.hg-sidebar{
		padding: 0;
		margin: 0;
		background: linear-gradient(to top right,$hg-lightblue,  $hg-darkblue);
		color: white;
	}
}
#main-wrapper .container {
	width: 100%;
}

// ==================================== //
// Mobile Header Toggle styling
// ==================================== //
.mainlogo {
	height: 32px;
	margin: 16px 0 16px 12px;
}



// ==================================== //
// Offcanvas menu
// ==================================== //
.hg-navbar {
	background: linear-gradient(to top right,$hg-lightblue,  $hg-darkblue);
	color: white;
}
.navbar {
	min-height: 0;
	border-radius: 0;
	margin-bottom: 0;
}
.sidenav-list{
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		color: white;
		a:link, a:visited {
			font-family: "Lato", sans-serif;
			font-weight: normal;
			font-size: 13px;
			display: block;
			color: white;
			padding: 10px 0 10px 30px;
	    -webkit-transition: background .125s ease-in;
	    transition: background .125s ease-in;
		}
		a:hover {
			background: rgba(255,255,255,.15);
			border-left: 5px solid rgba(255,255,255,.25);
			padding-left: 25px;
			text-decoration: none;
		}
		&.active {
			background: rgba(255,255,255,.15);
			border-left: 5px solid rgba(255,255,255,.25);
			margin-left: -10px;
			text-decoration: none;
		}
	}
}
.hg-sidebar h3 {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
	padding: 32px 0 16px 32px;
}




@media (max-width: 767px){
    .offcanvas-stop-scrolling{
        height:100%;
        overflow:hidden
    }
    .hg-navbar .navbar-offcanvas{
				background: linear-gradient(to top right, #00CBFF, #3F73F1);
				color: white;
				opacity: 0.97;
				filter: alpha(opacity=97); /* For IE8 and earlier */
    }
    .navbar-offcanvas{
        position:fixed;
        width:100%;
        max-width:248px;
        left:-248px;
        top:0;
        padding-left:0;
        padding-right:0;
        z-index:999;
        overflow:scroll;
        -webkit-overflow-scrolling:touch;
        -webkit-transition:all 0.15s ease-in;
        transition:all 0.15s ease-in
    }
    .navbar-offcanvas.in{
        box-shadow:150px 0 100px 400px rgba(0,0,0,.75)
    }
    .navbar-offcanvas.navbar-offcanvas-fade{
        opacity:0
    }
    .navbar-offcanvas.navbar-offcanvas-fade.in{
        opacity:1
    }
    .navbar-offcanvas.offcanvas-transform.in{
        -webkit-transform:translateX(248px);
        transform:translateX(248px)
    }
    .navbar-offcanvas.offcanvas-position.in{
        left:0
    }
    .navbar-offcanvas.navbar-offcanvas-right{
        left:auto;
        right:-248px
    }
    .navbar-offcanvas.navbar-offcanvas-right.offcanvas-transform.in{
        -webkit-transform:translateX(-248px);
        transform:translateX(-248px)
    }
    .navbar-offcanvas.navbar-offcanvas-right.offcanvas-position.in{
        left:auto;
        right:0
    }
    .navbar-offcanvas .dropdown.active .caret{
        border-top:0;
        border-bottom:4px solid
    }
    .navbar-offcanvas .dropdown-menu{
        position:relative;
        width:100%;
        border:inherit;
        box-shadow:none;
        -webkit-transition:height 0.15s ease-in;
        transition:height 0.15s ease-in
    }
    .navbar-offcanvas .dropdown-menu.shown{
        display:block;
        margin-bottom:10px
    }
}
.offcanvas-toggle .icon-bar{
		height: 3px;
    background:#FFF;
    margin-top: 5px;
    border-radius: 0;
    -webkit-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out
}
.offcanvas-toggle.is-open .icon-bar:nth-child(1){
    -webkit-transform:rotate(45deg) translate(5px, 5px);
    transform:rotate(45deg) translate(5px, 5px)
}
.offcanvas-toggle.is-open .icon-bar:nth-child(2){
    opacity:0
}
.offcanvas-toggle.is-open .icon-bar:nth-child(3){
    -webkit-transform:rotate(-45deg) translate(5px, -5px);
    transform:rotate(-45deg) translate(5px, -5px)
}
.sidenav-list img {
	height: 20px;
	margin-top: -5px;
	padding-right: 12px;
}
.navbar-offcanvas img {
	height: 14px;
	padding-right: 12px;
}



// ==================================== //
// Hard Sidebar Styling
// ==================================== //

#hard-sidebar {
	position: fixed;
	width: 340px;
	height: 100vh;
	background: linear-gradient(to top right,$hg-lightblue,  $hg-darkblue);
	.mainlogo {
		height: 52px;
		margin: 62px 0 16px 72px;
	}
	.sidenav-list li a:link, a:visited{
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 72px;
	}
	.sidenav-list li a:hover{
		padding-left: 67px;
	}
	h3 {
		margin: 44px 0 24px 72px;
		font-size: 20px;
		color: white;
		font-family: "Lato", sans-serif;
		font-weight: normal;
		text-transform: uppercase;
	}
}




// ==================================== //
// Card Styling
// ==================================== //
.card{
	width: 100%;
	background: white;
	padding: 40px 112px;
	margin-bottom: 30px;
}
@media (max-width: 767px){
	.card {
		padding: 40px 24px;
	}
}
.date-badge {
	position: absolute;
	display: block;
	top: 40px;
	left: 15px;
	width: 80px;
	background: #0049A0;
	color: white;
	text-align: center;
	padding: 10px 0;
	font-family: "Lato", sans-serif;
	.month {
		font-size: 14px;
		line-height: 14px;
		height: 14px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.date {
		font-size: 21px;
		line-height: 18px;
		height: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
@media (max-width: 767px){
	.date-badge {
		width: 60px;
		position: relative;
		float: right;
		top: 20px;
		margin-right: 20px;
	}
}
.btn{
	margin-bottom: 24px;
}
.btn-primary {
	background: $hg-lightblue;
	background: linear-gradient(to left,$hg-lightblue,  $hg-darkblue);
	color: rgba(255,255,255,1);
	border-radius: 4px;
	text-transform: uppercase;
	width: 100%;
	max-width: 225px;
	border: none;
	height: 40px;
	font-size: 12px;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
	img {
		height: 16px;
		margin-right: 8px;
	  -webkit-transition: all .25s ease-in;
	  transition: all .25s ease-in;
	}
}
.btn-primary:hover {
	color: rgba(255,255,255,.5);
	img {
		opacity: 0.5
		}
}
.btn-default {
	background: white;
	border: 1px solid $hg-lightblue;
	color: $hg-lightblue;
	border-radius: 4px;
	width: 100%;
	max-width: 225px;
	text-transform: uppercase;
	height: 40px;
}
.btn-default:hover {
	color: $hg-darkblue;
	border: 1px solid $hg-darkblue;
	background: white;
}





// ==================================== //
// Login Form Styling
// ==================================== //
.form-container {
	height: 100vh;
	align-items: center;
}
	.login-form{
		width: calc( 100% - 80px);
		max-width: 400px;
		color: rgba(255,255,255,0.8);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lato", sans-serif;
    font-size: 13px;
    text-align: center;
		input {
			border-radius: 0;
			background: none;
			border: none;
			border-bottom: 1px solid rgba(255,255,255,0.7);
			color: rgba(255,255,255,1);
			padding-left: 0;
			margin-top: 32px;
			&::placeholder {
				color: rgba(255,255,255,.8);
			}
		}
	.btn {
		margin-top: 48px;
	}
	.form-logo {
		margin: 40px auto;
		width: 111px;
	}
}