// ==================================== //
// Font Imports
// ==================================== //
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


// ==================================== //
// Variables
// ==================================== //
$hg-lightblue: #00CBFF;
$hg-darkblue: #3F73F1;


// ==================================== //
// Body Classes
// ==================================== //
body {
	background-image: url(assets/img/background@2x.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
	background-position: center center;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.login {
		background-image: url(assets/img/loginback@2x.jpg)
}
h1 {
	font-size: 30px;
	margin-bottom: 24px;
	text-transform: uppercase;
}
p {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

// ==================================== //
// Layout Adjustments
// ==================================== //
.fixed-left {
	width: calc(100vw - 340px);
	margin-left: 340px;
	max-width: 768px;
	padding: 44px;
	background: none !important;
}
@media (max-width: 767px){
	.fixed-left {
		width: 100vw;
		margin-left: 0;
		padding: 0 12px;
	}
}
.container#main-wrapper {
	background: #fff;
	.hg-sidebar{
		padding: 0;
		margin: 0;
		background: linear-gradient(to top right,$hg-lightblue,  $hg-darkblue);
		color: white;
	}
}
#main-wrapper .container {
	width: 100%;
}

// ==================================== //
// Mobile Header Toggle styling
// ==================================== //
.mainlogo {
	height: 32px;
	margin: 16px 0 16px 12px;
}



// ==================================== //
// Offcanvas menu
// ==================================== //
.hg-navbar {
	background: linear-gradient(to top right,$hg-lightblue,  $hg-darkblue);
	color: white;
}
.navbar {
	min-height: 0;
	border-radius: 0;
	margin-bottom: 0;
}
.sidenav-list{
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		color: white;
		a:link, a:visited {
			font-family: "Lato", sans-serif;
			font-weight: normal;
			font-size: 13px;
			display: block;
			color: white;
			padding: 10px 0 10px 30px;
	    -webkit-transition: background .125s ease-in;
	    transition: background .125s ease-in;
		}
		a:hover {
			background: rgba(255,255,255,.15);
			border-left: 5px solid rgba(255,255,255,.25);
			padding-left: 25px;
			text-decoration: none;
		}
		&.active {
			background: rgba(255,255,255,.15);
			border-left: 5px solid rgba(255,255,255,.25);
			margin-left: -10px;
			text-decoration: none;
		}
	}
}
.hg-sidebar h3 {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	color: white;
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
	padding: 32px 0 16px 32px;
}




@media (max-width: 767px){
    .offcanvas-stop-scrolling{
        height:100%;
        overflow:hidden
    }
    .hg-navbar .navbar-offcanvas{
				background: linear-gradient(to top right, #00CBFF, #3F73F1);
				color: white;
				opacity: 0.97;
				filter: alpha(opacity=97); /* For IE8 and earlier */
    }
    .navbar-offcanvas{
        position:fixed;
        width:100%;
        max-width:248px;
        left:-248px;
        top:0;
        padding-left:0;
        padding-right:0;
        z-index:999;
        overflow:scroll;
        -webkit-overflow-scrolling:touch;
        -webkit-transition:all 0.15s ease-in;
        transition:all 0.15s ease-in
    }
    .navbar-offcanvas.in{
        box-shadow:150px 0 100px 400px rgba(0,0,0,.75)
    }
    .navbar-offcanvas.navbar-offcanvas-fade{
        opacity:0
    }
    .navbar-offcanvas.navbar-offcanvas-fade.in{
        opacity:1
    }
    .navbar-offcanvas.offcanvas-transform.in{
        -webkit-transform:translateX(248px);
        transform:translateX(248px)
    }
    .navbar-offcanvas.offcanvas-position.in{
        left:0
    }
    .navbar-offcanvas.navbar-offcanvas-right{
        left:auto;
        right:-248px
    }
    .navbar-offcanvas.navbar-offcanvas-right.offcanvas-transform.in{
        -webkit-transform:translateX(-248px);
        transform:translateX(-248px)
    }
    .navbar-offcanvas.navbar-offcanvas-right.offcanvas-position.in{
        left:auto;
        right:0
    }
    .navbar-offcanvas .dropdown.active .caret{
        border-top:0;
        border-bottom:4px solid
    }
    .navbar-offcanvas .dropdown-menu{
        position:relative;
        width:100%;
        border:inherit;
        box-shadow:none;
        -webkit-transition:height 0.15s ease-in;
        transition:height 0.15s ease-in
    }
    .navbar-offcanvas .dropdown-menu.shown{
        display:block;
        margin-bottom:10px
    }
}
.offcanvas-toggle .icon-bar{
		height: 3px;
    background:#FFF;
    margin-top: 5px;
    border-radius: 0;
    -webkit-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out
}
.offcanvas-toggle.is-open .icon-bar:nth-child(1){
    -webkit-transform:rotate(45deg) translate(5px, 5px);
    transform:rotate(45deg) translate(5px, 5px)
}
.offcanvas-toggle.is-open .icon-bar:nth-child(2){
    opacity:0
}
.offcanvas-toggle.is-open .icon-bar:nth-child(3){
    -webkit-transform:rotate(-45deg) translate(5px, -5px);
    transform:rotate(-45deg) translate(5px, -5px)
}
.sidenav-list img {
	height: 20px;
	margin-top: -5px;
	padding-right: 12px;
}
.navbar-offcanvas img {
	height: 14px;
	padding-right: 12px;
}



// ==================================== //
// Hard Sidebar Styling
// ==================================== //

#hard-sidebar {
	position: fixed;
	width: 340px;
	height: 100vh;
	background: linear-gradient(to top right,$hg-lightblue,  $hg-darkblue);
	.mainlogo {
		height: 52px;
		margin: 62px 0 16px 72px;
	}
	.sidenav-list li a:link, a:visited{
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 72px;
	}
	.sidenav-list li a:hover{
		padding-left: 67px;
	}
	h3 {
		margin: 44px 0 24px 72px;
		font-size: 20px;
		color: white;
		font-family: "Lato", sans-serif;
		font-weight: normal;
		text-transform: uppercase;
	}
}




// ==================================== //
// Card Styling
// ==================================== //
.card{
	width: 100%;
	background: white;
	padding: 40px 112px;
	margin-bottom: 30px;
	border-radius: 3px;
}
@media (max-width: 767px){
	.card {
		padding: 40px 24px;
	}
}
.date-badge {
	position: absolute;
	display: block;
	top: 40px;
	left: 15px;
	width: 80px;
	background: #0049A0;
	color: white;
	text-align: center;
	padding: 10px 0;
	font-family: "Lato", sans-serif;
	.month {
		font-size: 14px;
		line-height: 14px;
		height: 14px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.date {
		font-size: 21px;
		line-height: 18px;
		height: 18px;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
@media (max-width: 767px){
	.date-badge {
		width: 60px;
		position: relative;
		float: right;
		top: 20px;
		margin-right: 20px;
	}
}
.btn{
	margin-bottom: 24px;
}
.btn-primary {
	background: $hg-lightblue;
	background: linear-gradient(to left,$hg-lightblue,  $hg-darkblue);
	color: rgba(255,255,255,1);
	border-radius: 4px;
	text-transform: uppercase;
	width: 100%;
	max-width: 225px;
	border: none;
	height: 40px;
	font-size: 12px;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
	img {
		height: 16px;
		margin-right: 8px;
	  -webkit-transition: all .25s ease-in;
	  transition: all .25s ease-in;
	}
}
.btn-primary:hover {
	color: rgba(255,255,255,.5);
	img {
		opacity: 0.5
		}
}
.btn-default {
	background: white;
	border: 1px solid $hg-lightblue;
	color: $hg-lightblue;
	border-radius: 4px;
	width: 100%;
	max-width: 225px;
	text-transform: uppercase;
	height: 40px;
}
.btn-default:hover {
	color: $hg-darkblue;
	border: 1px solid $hg-darkblue;
	background: white;
}





// ==================================== //
// Login Form Styling
// ==================================== //
.form-container {
	height: 100vh;
	align-items: center;
}
	.login-form{
		width: calc( 100% - 80px);
		max-width: 400px;
		color: rgba(255,255,255,0.8);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lato", sans-serif;
    font-size: 13px;
    text-align: center;
		input {
			border-radius: 0;
			background: none;
			border: none;
			border-bottom: 1px solid rgba(255,255,255,0.7);
			color: rgba(255,255,255,1);
			padding-left: 0;
			margin-top: 32px;
			&::placeholder {
				color: rgba(255,255,255,.8);
			}
		}
	.btn {
		margin-top: 48px;
	}
	.form-logo {
		margin: 40px auto;
		width: 111px;
	}
}







// ==================================== //
// Custom Metronic Styling
// ==================================== //
.back-link {
	font-family: "Lato", sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0080FF;
	top: -16px;
	position: relative;
	&:before{
		content: "← ";
	}
}
.metronics-form {
	label {
		text-transform: uppercase;
		font-family: "Lato", sans-serif;
		font-size: 12px;
		color: #575757;
		line-height: 14px;
		margin-top: 15px;
	}
	.form-control {
		font-family: "Lato", sans-serif;
	  font-size: 12px;
	  margin: 20px 0 20px 0;
	  min-width: 150px;
	  padding: 0;
	  border: none;
	  border-radius: 0;
	  border-bottom: 1px solid #7FBFFF;
	  box-shadow: none;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  background: url(assets/img/icons/dropdown.svg) right center no-repeat white;
	  &:hover{
		  cursor: pointer;
	  }
	}
	.styled-checkbox {
	  position: absolute; // take it out of document flow
	  opacity: 0; // hide it

	  & + label {
	    position: relative;
	    cursor: pointer;
	    padding: 0;
	    text-transform: none;
	    font-size: 14px;
	    font-weight: normal;
	    color: #575757;
			margin-bottom: 20px;
	  }

	  // Box.
	  & + label:before {
	    content: '';
	    margin-right: 10px;
	    display: inline-block;
	    vertical-align: text-top;
	    width: 20px;
	    height: 20px;
	    background: white;
	    border: 1px solid #979797;
	    border-radius: 5px;
	  }

	  // Box hover
	  &:hover + label:before {
	    background: #0080FF;
	    border: none;
	  }

	  // Box focus
	  &:focus + label:before {
	    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	  }

	  // Box checked
	  &:checked + label:before {
	    background: #0080FF;
	  }

	  // Disabled state label.
	  &:disabled + label {
	    color: #b8b8b8;
	    cursor: auto;
	  }

	  // Disabled box.
	  &:disabled + label:before {
	    box-shadow: none;
	    background: #ddd;
	  }

	  // Checkmark. Could be replaced with an image
	  &:checked + label:after {
	    content: '';
	    position: absolute;
	    left: 5px;
	    top: 9px;
	    background: white;
	    width: 2px;
	    height: 2px;
	    box-shadow:
	      2px 0 0 white,
	      4px 0 0 white,
	      4px -2px 0 white,
	      4px -4px 0 white,
	      4px -6px 0 white,
	      4px -8px 0 white;
	    transform: rotate(45deg);
	  }
	}






	.calendar-date {
		background: #FFFFFF;
		border-radius: 2.52px;
		&:hover {
			cursor: pointer;
		}
		@media (max-width: 767px){
			width: 100%;
		}
		& .datepicker {
			box-shadow: 0 0 10px 5px #EDEDED;
			margin-top: 10px;
			padding: 40px;
		}
		& .datepicker-days {
			@media (max-width: 767px){
				width: 100%;
			}
		}
		& table {
			width: 100%;
		}
		.previous-month {
			background: #EFF7FF;
			border-radius: 30px;
			& img {
				height: 13px;
			}
			&:hover {
				background: #D4DDE7;
			}
		}
		.next-month {
			background: #EFF7FF;
			border-radius: 30px;
			& img {
				height: 13px;
			}
			&:hover {
				background: #D4DDE7;
			}
		}
		.datepicker-switch {
			font-family: "Lato", sans-serif;
			font-weight: bold;
			font-size: 12px;
			color: #6B7897;
			text-align: center;
		}
		table td {
			text-align: center;
			color: #7C86A2;
		}
		table th {
			text-align: center;
		}
		.dow {
			font-size: 12px;
			color: rgba(52,72,94,0.54);
			text-align: center;
		}
		day {
			font-size: 8px;
			color: #7C86A2;
			text-align: center;
			&:hover {

			}
		}
	}
}
p.results {
	font-size: 12px;
	margin: 10px 0;
}

@media (max-width: 767px){
	button {
		min-width: 100%;
		margin-top: 10px;
	}
}





// ==================================== //
// Date Picker Styling
// ==================================== //
.date-picker {
  height: 25px;
  padding: 0;
  border: 0;
  line-height: 25px;
  padding-left: 10px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #303030;
  position: relative;
  z-index: 2;
}

.date-picker-wrapper {
  position: absolute;
  font-family: "Lato", sans-serif;
  z-index: 1;
	box-shadow: 0 0 15px 1px #EDEDED;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
  background-color: white;
  font-size: 12px;
  line-height: 20px;
  color: #aaa;
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: initial;
          box-sizing: initial;
}

.dp-clearfix {
  clear: both;
  height: 0;
  font-size: 0;
}

.date-picker-wrapper.inline-wrapper {
  position: relative;
  //display: inline-block;
}

.date-picker-wrapper.single-date {
  width: auto;
}

.date-picker-wrapper.no-shortcuts {
  //padding-bottom: 12px;
}

.date-picker-wrapper.no-topbar {
  padding-top: 12px;
}

.date-picker-wrapper .footer {
  font-size: 11px;
  padding-top: 3px;
}

.date-picker-wrapper b {
  color: #666;
  font-weight: 700;
}

.date-picker-wrapper a {
  color: #6bb4d6;
  text-decoration: underline;
}

.date-picker-wrapper .month-name {
	text-transform: capitalize;
	font-size: 12px;
	color: #6B7897;
	letter-spacing: 0.25px;
	text-align: center;
	float: left;
	margin-left: 10px;
}

.date-picker-wrapper .select-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.date-picker-wrapper .select-wrapper:hover {
  text-decoration: underline;
}

.date-picker-wrapper .month-element {
  display: inline-block;
  vertical-align: middle;
}

.date-picker-wrapper .select-wrapper select {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: -1px;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 0.01;
}

.date-picker-wrapper .month-wrapper {
  border: none;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
  cursor: default;
  position: relative;
  overflow: hidden;
}

.date-picker-wrapper .month-wrapper table {
  width: 100%;
  float: left;
}

.date-picker-wrapper .month-wrapper table.month2 {
  width: 190px;
  float: left;
}

.date-picker-wrapper .month-wrapper table th, .date-picker-wrapper .month-wrapper table td {
  vertical-align: middle;
  text-align: center;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
  //border: 1px solid red;
  height: 25px;
}

.date-picker-wrapper .month-wrapper table .day {
  padding: 5px 0;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 1px;
  color: #BFDFFF;
  cursor: default;
  border-radius: 100%;
	max-width: 25px;
	max-height: 25px;
	margin: 0 auto;
}

.date-picker-wrapper .month-wrapper table div.day.lastMonth, .date-picker-wrapper .month-wrapper table div.day.nextMonth {
  color: #999;
  cursor: default;
}

.date-picker-wrapper .month-wrapper table .day.checked {
  background-color: #BFDFFF;
}

.date-picker-wrapper .month-wrapper table .week-name {
  height: 20px;
  color: #B8BFC6;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase;
}

.date-picker-wrapper .month-wrapper table .day.has-tooltip {
  cursor: help !important;
}

.date-picker-wrapper .month-wrapper table .day.has-tooltip .tooltip {
  white-space: nowrap;
}

.date-picker-wrapper .time label {
  white-space: nowrap;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.valid {
  color: #333;
  cursor: pointer;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background-color:  #BFDFFF;
}

.date-picker-wrapper .month-wrapper table .day.nextMonth, .date-picker-wrapper .month-wrapper table .day.lastMonth {
  display: none;
}

.date-picker-wrapper .month-wrapper table .day.real-today {
  background-color: #BFDFFF;
}

.date-picker-wrapper .month-wrapper table .day.real-today.checked, .date-picker-wrapper .month-wrapper table .day.real-today.hovering {
  background-color: #BFDFFF;
}

.date-picker-wrapper table .caption {
  height: 40px;
}

.date-picker-wrapper table .caption > th:first-of-type, .date-picker-wrapper table .caption > th:last-of-type {
  width: 27px;
}

.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
  padding: 0 5px;
  cursor: pointer;
}

.date-picker-wrapper table .caption .next:hover, .date-picker-wrapper table .caption .prev:hover {
  background-color: #BFDFFF;
  color: white;
}

.date-picker-wrapper .gap {
  position: relative;
  z-index: 1;
  width: 15px;
  height: 100%;
  background-color: red;
  font-size: 0;
  line-height: 0;
  float: left;
  top: -5px;
  margin: 0 10px -10px;
  visibility: hidden;
  height: 0;
}

.date-picker-wrapper .gap .gap-lines {
  height: 100%;
  overflow: hidden;
}

.date-picker-wrapper .gap .gap-line {
  height: 15px;
  width: 15px;
  position: relative;
}

.date-picker-wrapper .gap .gap-line .gap-1 {
  z-index: 1;
  height: 0;
  border-left: 8px solid white;
  border-top: 8px solid #eee;
  border-bottom: 8px solid #eee;
}

.date-picker-wrapper .gap .gap-line .gap-2 {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 2;
  height: 0;
  border-left: 8px solid transparent;
  border-top: 8px solid white;
}

.date-picker-wrapper .gap .gap-line .gap-3 {
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 2;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 8px solid white;
}

.date-picker-wrapper .gap .gap-top-mask {
  width: 6px;
  height: 1px;
  position: absolute;
  top: -1px;
  left: 1px;
  background-color: #eee;
  z-index: 3;
}

.date-picker-wrapper .gap .gap-bottom-mask {
  width: 6px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 7px;
  background-color: #eee;
  z-index: 3;
}

.date-picker-wrapper .selected-days {
  display: none;
}

.date-picker-wrapper .drp_top-bar {
  line-height: 1.4;
  position: relative;
  padding: 10px 40px 10px 0;
  display: none;
}

.date-picker-wrapper .drp_top-bar .error-top, .date-picker-wrapper .drp_top-bar .normal-top {
  display: none;
}

.date-picker-wrapper .drp_top-bar .default-top {
  display: none;
}

.date-picker-wrapper .drp_top-bar.error .default-top {
  display: none;
}

.date-picker-wrapper .drp_top-bar.error .error-top {
  display: block;
  color: red;
}

.date-picker-wrapper .drp_top-bar.normal .default-top {
  display: none;
}

.date-picker-wrapper .drp_top-bar.normal .normal-top {
  display: block;
}

.date-picker-wrapper .drp_top-bar.normal .normal-top .selection-top {
  color: #333;
}

.date-picker-wrapper .drp_top-bar .apply-btn {
  position: absolute;
  right: 0px;
  top: 6px;
  padding: 3px 5px;
  margin: 0;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  color: white;
  line-height: initial;
}

.date-picker-wrapper .drp_top-bar .apply-btn.disabled {
  cursor: pointer;
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -moz-linear-gradient(top, #fff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.date-picker-wrapper .time {
  position: relative;
}

.date-picker-wrapper.single-month .time {
  display: block;
}

.date-picker-wrapper .time input[type=range] {
  vertical-align: middle;
  width: 129px;
  padding: 0;
  margin: 0;
  height: 20px;
}

.date-picker-wrapper .time1 {
  width: 180px;
  padding: 0 5px;
  text-align: center;
}

/*time styling*/
.time2 {
  width: 180px;
  padding: 0 5px;
  text-align: center;
}

.date-picker-wrapper .time1 {
  float: left;
}

.date-picker-wrapper .time2 {
  float: right;
}

.date-picker-wrapper .hour {
  text-align: right;
}

.minute {
  text-align: right;
}

.date-picker-wrapper .hide {
  display: none;
}

.date-picker-wrapper .first-date-selected, .date-picker-wrapper .last-date-selected {
  background-color: #0080FF !important;
  color: white !important;
}

.date-picker-wrapper .date-range-length-tip {
  position: absolute;
  margin-top: -4px;
  margin-left: -8px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: none;
  background-color: yellow;
  padding: 0 6px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

.date-picker-wrapper .date-range-length-tip:after {
  content: '';
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid yellow;
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
}

.date-picker-wrapper.two-months.no-gap .month1 .next, .date-picker-wrapper.two-months.no-gap .month2 .prev {
  display: none;
}

.date-picker-wrapper .week-number {
  padding: 5px 0;
  line-height: 1;
  font-size: 12px;
  margin-bottom: 1px;
  color: #999;
  cursor: pointer;
}

.date-picker-wrapper .week-number.week-number-selected {
  color: #BFDFFF;
  font-weight: bold;
}
.date-picker-wrapper .prev {
	display: inline-block;
	height: 20px;
	width: 26px;
	margin-right: 10px;
	background: #EFF7FF;
	border-radius: 30px;
	& img {
		margin: 2px auto;
		height: 14px;
	}
}
.date-picker-wrapper .next {
	display: inline-block;
	height: 20px;
	width: 26px;
	background: #EFF7FF;
	border-radius: 30px;
	& img {
		margin: 2px auto;
		height: 14px;
	}
}
.date-picker-wrapper .month-nav {
	float: right;
}
